  <!-- First Half -->
  <div class="d-md-flex h-md-100 align-items-center">

  <div class="col-md-6 p-0 bg-indigo h-md-100">
        <div class="d-md-flex align-items-center h-100 p-5 justify-content-center">
            <div class="logoarea pt-5 pb-5">
              <div class="card rounded-0">
                <div class="card-header">
                  <h3 class="mb-0">Add Rank</h3>
                </div>
                <div class="card-body">
                  <form class="form">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input [(ngModel)]="dataSubmitted.name" name="name" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="rank">Rank</label>
                        <input [(ngModel)]="dataSubmitted.rank" name="rank" type="number" class="form-control rounded-0" required>
                    </div>
                    <button (click)="rank_a_list()" type="button" class="btn btn-primary float-right">Submit</button>
  
  
                  </form>
                </div>
              </div>
  
                         
            </div>
        </div>
    </div>
    
    <!-- Second Half -->
    
    <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Name</th>
                            <th scope="col">Score</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ele of dataRanks">
                            <th scope="row">0</th>
                            <td>{{ele.name}}</td>
                            <td>{{ele.score}}</td>
                        </tbody>
                      </table>
        </div>
    </div>
</div>
